body {
  margin: 2rem;
  font-family: system-ui, sans-serif;
}
[data-row] {
  display: flex;
  flex-flow: row nowrap;
  gap: 1rem;
}
[data-column] {
  display: flex;
  flex-flow: column nowrap;
  gap: 0.5rem;
}
