body {
  margin: 0;
  padding: 32px;
}
[data-align] {
  display: flex;
  align-items: center;
  width: 500px;
  height: 200px;
}
[data-align] > * {
  box-sizing: border-box;
  width: 100px;
}
[data-tall] {
  height: 80px;
}
[data-center] {
  height: 60px;
}
[data-end] {
  align-self: flex-end;
  height: 40px;
}
