body {
  margin: 0;
  padding: 1rem;
}
[data-gallery] {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(160px, 1fr));
  width: 100%;
  max-width: 45rem;
  gap: 1rem;
}
[data-gallery] > * {
  box-sizing: border-box;
  height: 6.25rem;
}
