:root {
  --color-primary: rgb(45 93 98);
}
body {
  margin: 2rem;
  font-family: system-ui, sans-serif;
}
[data-action] {
  padding: 0.75rem 1rem;
  border: 0;
  color: white;
  background: var(--color-primary);
}
[data-tag] {
  margin-right: 1rem;
  color: var(--color-primary);
}
