body {
  margin: 0;
  padding: 2rem;
  font-family: system-ui, sans-serif;
}
[data-actions] {
  display: flex;
  justify-content: flex-start;
  width: 25rem;
  gap: 1.25rem;
  padding: 0;
  list-style: none;
}
[data-actions] li {
  box-sizing: border-box;
  width: 5rem;
}
